/* defaults */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: clamp(18px, 4vw, 32px); /* clamp function */
}

/* header color and style */
.header {
  max-width: 100%; 
  background-color: rgb(168, 87, 87);
  padding: 40px;
}

/* main style and content */
main {
  width: 75vw;
  max-width: 1500px;
  margin: 1rem auto;
}

/* image border and width */
img {
  max-width: 100%;
  border: 1px solid black;
}

/* heading and text, content style */
article {
  padding-bottom: 20px;
}

p {
  font-size: 20px;
}

.more {
  font-size: 20px;
}

/* footer style */
footer {
	background-color: silver;
	font-size: 20px;
	text-align: center;
}